<!DOCTYPE html>
<html ng-app='apollo'>
<head>
	<title>APOLLO | MUSIC</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
</head>
<body>
	<header>
		<img src="img/al.png" id="logo"/>
		
		<a href="apollo.html#wrapper"><img src="img/icon2.png" id="findSong"  class="dark" /></a>
	</header>

		<img src="img/top.png" id="topHits"><br/>
		
		<ul class="container" ng-controller="HitsController">
			<li class="info" ng-repeat="track in tracks">
				<a href="http://www.last.fm/music/{{track.artist.name}}/_/{{track.name}}">
				<img ng-src='{{track.image !== undefined ? track.image[3]["#text"] : "img/stock.jpg"}}'/>
				<div class="title">{{track.artist.name}}</div>
				<div class="artist">{{track.name}}</div>
				</a>
			</li>
		</ul>

		<div ng-controller="SimilarController">
			<ul class="searchContainer" ng-show="check === true">
				<li class="info" ng-repeat="trck in tracks">
					<img ng-src='{{trck.image !== undefined ? trck.image[3]["#text"] : "img/stock.jpg"}}'>
					<div class="title">{{trck.artist.name}}</div>
					<div class="artist">{{trck.name}}</div>
				</li>
			</ul>

			<div id="wrapper">
				<form class="form-container">
					<div class="form-title"><h2>Try us, we dare you</h2></div>
					<div class="form-title">Artist</div>
					<input class="form-field" type="text" id="artist" ng-model="artist"/><br />
					<div class="form-title">Track</div>
					<input class="form-field" type="text" id="track" ng-model="song"/><br />
					<div class="submit-container">
						<input class="submit-button" type="button" value="Search" ng-click="getSimilar()"/>
					</div>
				</form>
			</div>
		</div>
		<p>{{"hello" + " you"}}</p>
	</body>
</html>
